@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.app {
  display: flex;
  height: 100vh;

  aside {
    width: 300px;
  }

  main {
    flex-grow: 1;
    background-color: colors.$LIGHT_BLUE;
    @include flexbox.flexbox(center, center);
  }
}
