$WHITE: #ffffff;
$BLACK: #000000;

$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$LIGHT_BLUE: #f0f7ff;
$LIGHT_BLUE2: #f8fbff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$OVERLAY: rgba(0, 0, 0, 50.2%);

$GRAY: #8e8e93;
$GRAY2: #aeaeb2;
$GRAY3: #c7c7cc;
$GRAY4: #d1d1d6;
$GRAY5: #eef0f2;
$GRAY6: #f2f2f2;
$DARK_GRAY3: #48484a;
$DARK_GRAY4: #3a3a3c;
