@use '/src/styles/constants/colors';

.wrapper {
  height: 100%;

  ul {
    height: 100%;
    background-color: colors.$WHITE;

    li {
      width: 100%;
      padding: 20px 5px;
      text-align: left;
      border-bottom: 1px solid colors.$GRAY4;
    }

    a {
      display: inline-block;
      width: 100%;
      color: colors.$GRAY;

      &.active {
        font-weight: 600;
        color: colors.$BLUE;
      }
    }
  }
}
