@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.form {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 5px;
  outline: 1px solid colors.$BLUE;

  input[type='search'] {
    flex-grow: 1;
    min-width: 0;
    padding: 5px;
    padding-left: 10px;
    background-color: colors.$WHITE;
  }

  button[type='submit'] {
    @include flexbox.flexbox(center, center);
    width: 35px;
    color: colors.$WHITE;
    background-color: colors.$BLUE;
    border-left: 1px solid colors.$BLUE;
    border-radius: 0 5px 5px 0;

    svg {
      width: 20px;
    }
  }

  @include responsive.after(SD) {
    height: 50px;
    line-height: 50px;

    input[type='search'] {
      font-size: 18px;
    }

    button[type='submit'] {
      width: 40px;

      svg {
        width: 25px;
      }
    }
  }
}
