@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

body {
  background-color: colors.$GRAY5;
}

.app {
  @include flexbox.flexbox(center, center);
  flex-direction: column;
  width: 1000px;
  margin: 100px auto;
}
